@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #383839;
  --secondaryColor: #858597;
  --steelBlue: #1f1f39;
  --skyBlue: #5177ff;
  --leafGreen: #6bd65a;
  --midnightBlack: #171717;
}
