@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --headingColor: #383839;
  --subHeadingColor: #1f1f39;
  --descriptionColor: #858597;
  --buttonColor: #5177ff;
  --enrolledCountColor: #6bd65a;
}
